<template>
    <div class="container">
        <div class="chartElem">
            <div class="row">
                <highcharts class="chart" :options="chartOptions" :updateArgs="updateArgs"></highcharts>
            </div>
            <div class="row">
                <div id="chartType">
                    <h3>Select chart type:</h3>
                    <select v-model="chartType">
                        <option>Column</option>
                        <option>Spline</option>
                        <option>AreaSpline</option>
                        <option>Line</option>
                        <option>Scatter</option>
                        <option>Area</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: '',
                points: [10, 0, 8, 2, 6, 4, 5, 5],
                chartType: 'Column',
                seriesColor: '#6fcd98',
                colorInputIsSupported: null,
                animationDuration: 1000,
                updateArgs: [true, true, {duration: 1000}],
                chartOptions: {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Crypto rates'
                    },
                    series: [],
                    color: '#6fcd98'
                },
                isConnected: false,
                socketMessage: ''
            }
        },
        created() {
            this.getRealtimeData();
        },
        watch: {
            chartType(newValue) {
                this.chartOptions.chart.type = newValue.toLowerCase()
            }
        },
        methods: {
            getRealtimeData() {
                this.$socket.client.emit('getdata');

                this.$socket.client.on('newdata', data => {
                    this.chartOptions.series = JSON.parse(data).map(val => {
                        return {
                            name: val.name,
                            data: [val.rate]
                        };
                    });
                });
            }
        }
    }
</script>

<style scoped></style>